{% extends 'layouts/base.html' %}

{% block content %}
    
    <div class="container text-center mt-4">
        <div class="row">
          <div class="col col-md-8 col-lg-8  ">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                  <h1 class="display-5 fw-bold "> Nous somme ...</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti nam odit blanditiis, a dolor esse, vel quaerat officia nobis debitis, voluptatem voluptatum? Corrupti expedita optio illo voluptatum labore tenetur itaque?</p>
                  <button class="btn btn-primary btn-lg" type="button">Example button</button>
                </div>
              </div>
          </div>
          <div class="col col-md-4 col-lg-4  ">
            <h3 class="text-center text-muted">Image</h3>
            <img src="" alt="image du groupe" srcset="">
          </div>
        </div>
        </div>
    </div>


{% endblock %}